body {
    text-align: center;
    background-color: black;
}

.menu {
    width: 300px;
    height: 150px;
    margin: 50px auto;
    padding: 30px;
    background-color: grey;
}
.menu h2 {
    color: gold;
}

.ninja {
    display: inline-block;
    vertical-align: top;
    width: 290px;
}
.left {
    margin-right: 100px;
}
.right {
    margin-left: 100px;
}